@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tangerine:wght@400;700&display=swap');

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services h2{
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: white;
  width: 90%;
}

.services h4{
  text-align: center;
  color: white;
  font-weight: 300;
  width: 90%;
}


/* Carousel */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* Scroll Images */

.services-images {
  display: flex;
  flex-direction: column;
}

.services-images img{
  display: block;
  width: 100%;
  height: 250px;
}
.services-image {
  position: relative;
  text-align: center;
  color: white;
} 
.services-image h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Jost", sans-serif;
}


@media screen and (min-width: 769px) {
  .services-images {
    flex-direction: row;
  }
}