@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #002462;
    color: white;
    font-family: "Cal Sans", sans-serif;
}


.logo {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    padding: 100px;
}
.logo img {
    width: 50%;
}
.logo h1{
    font-size: 2.5em;
    font-weight: 300;
}
.logo h2{
    font-size: 1em;
    font-weight: 300;
}


@media screen and (max-width: 768px) {
    .homepage-container {
        background-image: url('../assets/Pinned\ on\ Car.jpeg'); /* chemin vers l’image */
        backdrop-filter: blur(0.5);
        background-repeat: no-repeat; /* empêche la répétition */
        background-position: center;  /* centre l’image */
        background-size: cover;     /* ou cover selon le besoin */;
    }
    
}

@media screen and (min-width: 769px) {
    .homepage-container {
    position: relative;
    background-image: url('../assets/pc-cover-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* Overlay */
  .homepage-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity (0.3–0.7 typical) */
    z-index: 0;
  }

  /* Make sure your content stays above the overlay */
  .homepage-container > * {
    position: relative;
    z-index: 1;
  }

    header nav ul {
        gap: 40px;
        padding: 10px 40px;
    }
    .nav-link {
        font-size: 1.1em;
    }
    .logo h1{
        font-size: 5em;
        font-weight: 300;
    }
    .logo h2{
        font-size: 2em;
        font-weight: 300;
    }

}

